.row{
  
    margin-top:100px;
    background-color: blueviolet;
}

body{
    background:blueviolet;
}

#center{
    text-align: center;;
}
.button{
    width:100%;
    background-color:rgba(12, 155, 83, 0.467);
}

html{
    background-color: blueviolet;
}
.card{
    background-color: blueviolet;
}
h1{
text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}